%section.middle.container
  .page-header
    %h1.text-center
      Обьявления
  .row
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
    .col-lg-3.col-md-3.col-sm-4.col-xs-12
      .advert
        %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
        %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal

  %ul.pagination.clearfix
    %li.disabled
      %a{:href => "#"} &laquo;
    %li.active
      %a{:href => "#"} 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li
      %a{:href => "#"} 5
    %li
      %a{:href => "#"} &raquo;