.wraper
  %header.header.container
    .row
      .logo.col-lg-2.col-md-12.col-sm-12.col-xs-12
        %a{:href => "#"}
          %h1 Adverst
      %ul.col-lg-3.col-md-4.col-sm-8.col-xs-12
        %li
          %a{:href => "#"} Главная
        %li
          %a{:href => "#"} Пользователи
      %button.btn.btn-info.btn-sm.col-lg-2.col-md-3.col-sm-8.col-xs-6 добавить обьявление
      %input.form-control.input-sm.col-lg-2.col-md-4.col-sm-8.col-xs-12{:type => "text"}
        %ul.col-lg-3.col-md-12.col-sm-8.col-xs-12
          %li
            %a{:href => "#"} Вход
          %li
            %a{:href => "#"} Регистрация
  %section.middle.container
    %h2.text-center Обьявления
    .row.center-block
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal
      .advert.col-lg-2.col-md-3.col-sm-4.col-xs-12
        .div.clearfix
          %img.pull-left{:src => "http://cs617322.vk.me/v617322811/1eed3/6g2xFxD0fdU.jpg"}
          %a.title.pull-left Title
        %p.description Loren impsum door lal Loren impsum door lal Loren impsum door lal

  %footer.footer.container
    %p.text-center Footer

