%section.middle.container
  %ol.breadcrumb.pull-left
    %li
      %a{:href => "#"} Главная
    %li.active Заголовок обьявления
  .page-header
    %h1.text-center
      Заголовк обьявления
  .profile.col-lg-3.col-md-2.col-sm-12.col-xs-12
    %img{:src => "http://prettynews.ru/wp-content/uploads/2012/04/Vesna-150x150.jpg"}
    %p.date-publication
      Дата публикации:
      %span 10.12.2014
    %p.author
      Автор:
      %span Vasa Pupkin
    %a{:href => "#"} Редактировать
    %a{:href => "#"} Удалить
  .col-lg-8.col-md-8.col-sm-12.col-xs-12
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed
    %p.comments-title Коментарии
    .comment.clearfix
      %p Комент 1
      %a.pull-right{:href => "#"} Удалить
      %a.pull-right{:href => "#"} Редактировать
    .comment.clearfix
      %p Комент 2
      %a.pull-right{:href => "#"} Удалить
      %a.pull-right{:href => "#"} Редактировать
    .comment.clearfix
      %p Комент 3
      %a.pull-right{:href => "#"} Удалить
      %a.pull-right{:href => "#"} Редактировать
    .comment.clearfix
      %p Комент 4
      %a.pull-right{:href => "#"} Удалить
      %a.pull-right{:href => "#"} Редактировать
    %textarea.yout-comment.form-control{:rows => "3"}
    %button.btn.btn-info.pull-right Добавить