%section.middle.container
  %ol.breadcrumb
    %li
      %a{:href => "#"} Главная
    %li.active Профиль
  %h2.text-center Профиль
  .profile.center-block
    .update
      %a.text-center{:href => "#"} Редактировать
    %p
      Логин:
      %span Vasa
    %p
      ФИО:
      %span Vasa Pupkin
    %p
      Email:
      %span vasa@test.ru
    %p
      Адрес:
      %span Сумы, Косовщина...
  .myAdverts
    %h2 Мои обьявления
    %a{:href => "#"} Объявление 1
    %a{:href => "#"} Объявление 2
    %a{:href => "#"} Объявление 3
    %a{:href => "#"} Объявление 4