%section.middle.container
  %ol.breadcrumb.col-lg-3.col-md-3.col-sm-3.col-xs-12
    %li
      %a{:href => "#"} Главная
    %li.active Вход
  .sign-in.col-lg-6.col-md-6.col-sm-8.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-2
    %form.form-horizontal{:role => "form"}
      .form-group
        %label.col-sm-2.control-label{:for => "inputEmail3"} Email
        .col-sm-10
          %input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}
      .form-group
        %label.col-sm-2.control-label{:for => "inputPassword3"} Пароль
        .col-sm-10
          %input#inputPassword3.form-control{:placeholder => "Password", :type => "password"}
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            %label
              %input{:type => "checkbox"}
                Запомнить меня
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-default{:type => "submit"} Войти